<div class="grid" style="margin-left:10px; margin-right:10px">
    <div class="col">
            <div class="field grid">
                <label class="col-fixed" for="processingText">Text</label>
                <div class="col" style="padding-left: 4%;">
                    <input pInputText
                           id="processingText"
                           type="text"
                           [(ngModel)]="processedText"
                           style="width:100%" />
                </div>
            </div>
            <div class="field grid" *ngIf="processing">
                <label class="col-fixed" for="processingBar">Progress</label>
                <div class="col" id="processingBar">
                    <progress-bar [value]="progress"></progress-bar>
                </div>
            </div>
    </div>
    <div class="col-3">
        <div class="flex flex-row flex-wrap justify-content-center">
            <div class="flex align-items-center justify-content-center" style="margin-right:10px">
                <p-button label="Process"
                          (onClick)="sendProcessingText()"
                          [loading]="processing"
                          icon="pi pi-check" />

            </div>
            <div class="flex align-items-center justify-content-center">
                <p-button label="Cancel"
                          (onClick)="cancelProcessingText()"
                          icon="pi pi-times" />

            </div>
        </div>
    </div>
</div>
<div class="grid" style="margin-left:10px; margin-right:10px">
    <div class="col">
        <div class="field grid">
            <label class="col-fixed" for="resultText">Result</label>
            <div class="col" style="padding-left: 2.5%;">
                <input pInputText
                           id="resultText"
                           type="text"
                           [(ngModel)]="concatenatedData"
                           style="width:100%"
                           readonly />
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>